<div id="header-post">
      <span id="actions">
        <ul>
          {{ if .Prev }}
          <li>
            <a class="icon" href=" {{ .Prev.Permalink }}">
              <i class="fas fa-chevron-left" aria-hidden="true" onmouseover="$('#i-prev').toggle();" onmouseout="$('#i-prev').toggle();"></i>
            </a>
          </li>
          {{ end }}
          {{ if .Next }}
          <li>
            <a class="icon" href="{{ .Next.Permalink }}">
              <i class="fas fa-chevron-right" aria-hidden="true" onmouseover="$('#i-next').toggle();" onmouseout="$('#i-next').toggle();"></i>
            </a>
          </li>
          {{ end }}
          <li>
            <a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');">
              <i class="fas fa-chevron-up" aria-hidden="true" onmouseover="$('#i-top').toggle();" onmouseout="$('#i-top').toggle();"></i>
            </a>
          </li>
        </ul>
        <span id="i-prev" class="info" style="display:none;">Previous post</span>
        <span id="i-next" class="info" style="display:none;">Next post</span>
        <span id="i-top" class="info" style="display:none;">Back to top</span>
      </span>
      <br/>
      <div id="toc">
        {{ .TableOfContents }}
      </div>
  </div>